* {
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow: hidden;
}

.header {
    border-bottom: 1px solid rgb(184, 182, 182);
}


/*Start navigation*/

.navbar .navbar-nav {
    background-color: #0D1326 !important;
}

.navbar .nav-item .nav-link {
    color: white !important;
    padding: 15px;
}

.navbar .nav-item:hover {
    background-color: grey !important;
    text-shadow: 1px 1px 1px grey;
    transition: 0.5s;
    box-shadow: 5px 5px 15px black;
}

.navbar img {
    width: 75%;
}

.become {
    padding: 15px;
}


/*End navigation*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


/*Start flooring*/

.flooring .title .line {
    margin: 10px auto;
    width: 5%;
    border: 1px solid black;
    background-color: #000;
}

.flooring .row img {
    width: 100%;
}

.flooring .distance,
.products .distance,
.gallery .distance,
.brands .distance {
    margin: 0 auto;
    width: 85%;
}

.flooring .row .btn {
    position: absolute;
    top: 50%;
    left: 22%;
}


/*End flooring*/


/*Start products*/

.products .title .line {
    margin: 10px auto;
    width: 5%;
    border: 1px solid black;
    background-color: #000;
}

.products .row .img-box {
    position: relative;
}

.products .row .img-box .btn {
    position: absolute;
    top: 50%;
    left: 30%;
}

.products .row .carousel .fas {
    color: #9e9e9e;
    /*border: 2px solid #9e9e9e;
    border-radius: 55%;*/
}


/*End product*/


/*Start sale*/

.sale {
    background-image: url(../images/layout_cta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
    opacity: 0.8;
}

.sale .line {
    margin: 10px auto 20px;
    width: 5%;
    border: 1px solid #fff;
    background-color: #fff;
}

.sale .btn {
    display: block;
    margin: 40px auto;
}


/*End sale*/


/*Start gallery*/

.gallery .title .line {
    margin: 10px auto 20px;
    width: 5%;
    border: 1px solid #000;
    background-color: #000;
}

.gallery .row .image {
    width: 100%;
}

.gallery .row .quanlity,
.gallery .row .inspiration {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery .row .quanlity .btn,
.gallery .row .inspiration .btn {
    display: block;
    margin: 25px auto;
}


/*End gallery*/


/*Start testimonials*/

.testimonials .title .line {
    margin: 10px auto;
    width: 5%;
    border: 1px solid black;
    background-color: #000;
}

.testimonials .information {
    background-color: #fbfbfb;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials .information .avatar img {
    display: block;
    margin: 30px auto;
}

.testimonials .row .information p {
    width: 75%;
    font-size: 14px;
    display: block;
    margin: auto;
}

.testimonials h5 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
}

.testimonials h6 {
    color: #b5bfc6;
    padding-bottom: 30px;
}

.testimonials .row .col .left,
.testimonials .row .col .right {
    margin-top: 12.5em;
}

.testimonials .row .col .left .fas,
.testimonials .row .col .right .fas {
    color: #c2d1d9;
}

.testimonials .row .col .left .name,
.testimonials .row .col .right .name {
    position: absolute;
    top: 44%;
}

.testimonials .row .col .left .name {
    left: 20%;
}

.testimonials .row .col .right .name {
    right: 20%;
}

.testimonials .row .col .left .name p,
.testimonials .row .col .right .name p {
    margin-bottom: 0;
}


/*End testimonials*/


/*Start shopping*/

.shopping {
    background-image: url(../images/layout_cta2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
    opacity: 0.8;
}

.shopping .line {
    margin: 10px auto;
    width: 5%;
    border: 1px solid #fff;
    background-color: #fff;
}

.shopping .btn {
    display: block;
    margin: 40px auto;
}


/*End shopping*/

.fl {
    margin-top: 40px;
    float: right;
    line-height: 100px;
    padding-bottom: 40px;
}

.brands .title .line {
    margin: 10px auto;
    width: 5%;
    border: 1px solid #000;
    background-color: #000;
}


/*Start footer*/

.footer {
    margin-top: 150px;
    background-color: #212121;
    padding-bottom: 50px;
}

.footer .distance {
    margin: 0 auto;
    width: 85%;
}

.footer .title-footer h5 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 40px;
    margin-bottom: 35px;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer .title-footer h5:hover {
    cursor: default;
    color: red;
    font-weight: bold;
}

.list-group li {
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 7px;
}

.icon-location,
.icon-mail,
.icon-phone {
    display: flex;
}

.icon-location i,
.icon-mail i,
.icon-phone i {
    margin-right: 10px;
    margin-top: 5px;
}

.footer .title-newsletter {
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding-top: 36px;
    margin-bottom: 35px;
}

.footer .title-newsletter:hover {
    cursor: default;
    color: red;
    font-weight: bold;
}

.footer form {
    position: relative;
}

.footer form input {
    width: 100%;
    background-color: #f6f6f6;
    height: 40px;
    border: none;
    padding-left: 20px;
    font-size: 14px;
}

.footer form i {
    position: absolute;
    top: 25%;
    left: 91%;
    color: #b4b4b4;
}

.footer .icon-social {
    width: 100%;
}

.footer .icon-social li {
    list-style: none;
    display: inline-block;
    width: 15%;
    color: white;
    margin-top: 20px;
}

.footer .icon-social li i:hover {
    color: red;
    cursor: default;
}

.footer .hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.footer .hover .view {
    visibility: hidden;
    width: 150px;
    border: 2px solid #ffffff;
    background: none;
    color: #fff;
    text-align: center;
    padding: 10px 15px 10px 15px;
    top: 42%;
    left: 25%;
    position: absolute;
    z-index: 1;
}

.footer .hover:hover .view {
    visibility: visible;
    cursor: pointer;
}


/*End footer*/

@media only screen and (max-width: 575.98px) {
    .header,
    .none {
        display: none!important;
    }
    .blocka {
        position: relative;
    }
    .navbar img {
        width: 70%;
    }
    .become {
        display: none!important;
    }
    .carousel img {
        margin-top: 10px;
    }
    .flooring .title h3 {
        font-size: 70%;
    }
    .flooring .title .line {
        width: 10%;
    }
    .flooring .title p {
        font-size: 45%;
    }
    .flooring .row .col {
        position: relative;
        margin-bottom: 10px;
    }
    .flooring .row .col:last-child {
        margin-bottom: 0%;
    }
    .flooring .row .col .btn {
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        font-size: 50%;
    }
    .hidden {
        display: none;
    }
    .products .title h3 {
        font-size: 90%;
    }
    .products .title .line {
        width: 10%;
    }
    .products .row .img-box {
        position: relative;
    }
    .products .row .img-box>.btn {
        position: absolute;
        top: 50%;
        left: 25%;
    }
    .products .row .thumb-wrapper p {
        font-size: 80%;
    }
    .sale h3 {
        font-size: 80%;
    }
    .sale .line {
        width: 10%;
    }
    .sale p {
        font-size: 45%;
    }
    .sale button {
        font-size: 45%;
    }
    .gallery .title h3 {
        font-size: 80%;
    }
    .gallery .title .line {
        width: 10%;
    }
    .gallery .title p {
        font-size: 45%;
    }
    .gallery .row .col {
        margin-bottom: 10px;
    }
    .gallery .row .col:last-child {
        margin-bottom: 0%;
    }
    .gallery .row .col .quanlity h4,
    .gallery .row .col .inspiration h4 {
        font-size: 75%;
    }
    .gallery .row .col .quanlity p,
    .gallery .row .col .inspiration p {
        font-size: 45%;
    }
    .gallery .row .col .quanlity button,
    .gallery .row .col .inspiration button {
        font-size: 45%;
    }
    .testimonials .title h3 {
        font-size: 80%;
    }
    .testimonials .title .line {
        width: 10%;
    }
    .testimonials .row .col .left .name,
    .testimonials .row .col .right .name {
        display: none;
    }
    .testimonials .row .information p {
        font-size: 45%;
    }
    .shopping h3 {
        font-size: 80%;
    }
    .shopping .line {
        width: 10%;
    }
    .shopping p {
        font-size: 45%;
    }
    .shopping button {
        font-size: 45%;
    }
    .brands .title h3 {
        font-size: 80%;
    }
    .brands .title .line {
        width: 10%;
    }
    .brands .title p {
        font-size: 45%;
    }
    .brands .row {
        position: relative;
        margin-bottom: 0;
    }
    .brands .row img {
        width: 80%;
        position: absolute;
        right: 40%;
    }
    .footer .row .list-group li {
        font-size: 74%;
    }
    .footer .row .title-newsletter {
        text-align: center;
    }
    .footer .row .title-newsletter h5 {
        font-size: 110%;
    }
    .footer .row .icon-social {
        text-align: center;
    }
    .footer .row .payment {
        text-align: center;
    }
}

@media only screen and (min-width:576px) and (max-width: 767.98px) {
    .header,
    .none {
        display: none!important;
    }
    .logo img {
        display: block;
        margin: 0 auto;
    }
    .become {
        display: none!important;
    }
    .navigation .blocka {
        order: 2;
    }
    .navigation .blockb {
        order: 1;
    }
    .navigation .blockc {
        order: 3;
    }
    .col-xl-8 {
        background: none!important;
    }
    .navbar {
        background: none!important;
    }
    .navbar-toggler {
        color: red;
    }
    .nav-link {
        color: black!important;
    }
    .flooring .title .line {
        width: 15%;
    }
    .flooring .row .col {
        position: relative;
        margin-bottom: 5%;
    }
    .flooring .row .col:last-child {
        margin-bottom: 0%;
    }
    .flooring .row .col .btn {
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        font-size: 80%;
    }
    .hide {
        display: none;
    }
    .products .row .img-box {
        position: relative;
    }
    .products .row .img-box>.btn {
        position: absolute;
        top: 50%;
        left: 35%;
        font-size: 50%;
    }
    .gallery .row .col {
        margin-bottom: 10px;
    }
    .gallery .row .col:last-child {
        margin-bottom: 0%;
    }
    .testimonials .row .col .left .name,
    .testimonials .row .col .right .name {
        display: none;
    }
    .brands .row {
        position: relative;
    }
    .brands .row img {
        width: 80%;
        position: absolute;
        right: 40%;
    }
    .footer .row .title-newsletter {
        text-align: center;
    }
    .footer .row .title-newsletter h5 {
        font-size: 110%;
    }
    .footer .row .icon-social {
        text-align: center;
    }
    .footer .row .payment {
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:991.98px) {
    .logo img {
        width: 150%;
        display: block;
        margin: 0 auto;
    }
    .navigation .blocka {
        order: 2;
    }
    .navigation .blockb {
        order: 1;
    }
    .navigation .blockc {
        order: 3;
    }
    .become {
        display: none!important;
    }
    .blocka {
        line-height: 75px;
    }
    .col-xl-8 {
        background: none!important;
    }
    .navbar {
        background: none!important;
    }
    .navbar-toggler {
        color: red;
    }
    .nav-link {
        color: black!important;
    }
    .flooring .row .col {
        position: relative;
    }
    .flooring .row .col .btn {
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        font-size: 45%;
    }
    .products .row .img-box {
        position: relative;
    }
    .products .row .img-box>.btn {
        position: absolute;
        top: 45%;
        left: 27%;
        width: 43%;
        font-size: 50%;
    }
    .testimonials .row .col {
        position: relative;
    }
    .testimonials .row .col .left,
    .testimonials .row .col .right {
        position: absolute;
        top: 2%;
    }
    .testimonials .row .col .left .name,
    .testimonials .row .col .right .name {
        display: none;
    }
    .brands .row {
        position: relative;
    }
    .brands .row img {
        width: 80%;
        position: absolute;
        right: 40%;
    }
}

@media only screen and (min-width:992px) and (max-width:1199.98px) {
    .logo img {
        width: 30%;
    }
    .logo {
        text-align: center;
    }
    .nav-item {
        font-size: 12px;
    }
    .become {
        font-size: 10px;
        padding: 16px 7px 10px 4px;
    }
    .blockb {
        margin-bottom: 10px;
    }
    .flooring .row .col {
        position: relative;
    }
    .flooring .row .col .btn {
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        font-size: 45%;
    }
    .products .row .img-box {
        position: relative;
    }
    .products .row .img-box>.btn {
        position: absolute;
        top: 45%;
        left: 27%;
        width: 43%;
        font-size: 50%;
    }
    .brands .row {
        position: relative;
    }
    .brands .row img {
        width: 80%;
        position: absolute;
        right: 40%;
    }
}

@media only screen and (min-width:1200px) {
    .logo img {
        width: 100%;
        margin-top: 10px;
    }
    .nav-item {
        font-size: 11px;
    }
    .become {
        height: 65%;
    }
    .become span {
        font-size: 12px;
    }
    .flooring .row .col {
        position: relative;
    }
    .flooring .row .col .btn {
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        font-size: 62%;
    }
    .products .row .img-box {
        position: relative;
    }
    .products .row .img-box>.btn {
        position: absolute;
        top: 45%;
        left: 27%;
        width: 43%;
        font-size: 74%;
    }
    .brands .row {
        position: relative;
    }
    .brands .row img {
        width: 60%;
        position: absolute;
        right: 40%;
    }
}